body {
    margin: 0;
    padding: 0;
}
.nav {
    background-color: #0047AB;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    align-self: flex-start;
}
.inputs {
    display:flex;
    width: 100%;
    justify-content: center;
    margin-top: 10vh
}
img {
    object-fit: contain;
}
.gif {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
.gif h1 {
    width: 100%;
    text-align: center
}
a.home {
    font-size: 64px;
    height: fit-content;
    align-self: center
}
.dumb {
    width: 100px
}

:root { 
        height: 100%;
        width: 100%;
        left:0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
      background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
      background-size: 1800% 1800%;
      
      -webkit-animation: rainbow 18s ease infinite;
      -z-animation: rainbow 18s ease infinite;
      -o-animation: rainbow 18s ease infinite;
        animation: rainbow 18s ease infinite;}
      
      @-webkit-keyframes rainbow {
          0%{background-position:0% 82%}
          50%{background-position:100% 19%}
          100%{background-position:0% 82%}
      }
      @-moz-keyframes rainbow {
          0%{background-position:0% 82%}
          50%{background-position:100% 19%}
          100%{background-position:0% 82%}
      }
      @-o-keyframes rainbow {
          0%{background-position:0% 82%}
          50%{background-position:100% 19%}
          100%{background-position:0% 82%}
      }
      @keyframes rainbow { 
          0%{background-position:0% 82%}
          50%{background-position:100% 19%}
          100%{background-position:0% 82%}
      }
.anotherimg {
    display: flex;
}

.anotherimg img {
    height: 20vh
}

.gamemodes {
    margin-top: 10vh;
    text-align: center;
}

#stage {
    margin: 0 auto;
    width: 600px;
    padding: 0 0 40px;
  }

  section.spinner {
    display: flex;
    width: 100%;
    justify-content: center;
  }
section.leaderboard {
    background-color: black;
    color: white;
    margin-top: 20vh;
    height: 30.9vh;
}
section.heading, section.rankings {
    text-align: center;
}