body {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    height: 80vh;
    background-image: url(rainbow.gif);
}
nav {
    background-color: #0047AB;
}
.inputs {
    display:flex;
    width: 100%;
    justify-content: center;
    margin-top: 10vh
}
img {
    object-fit: contain;
}
.gif {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
.gif h1 {
    width: 100%;
    text-align: center
}
a.home {
    font-size: 128px;
}
.dumb {
    width: 20vw
}